.container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(53, 52, 52, 1);
    padding: 50px 0;
    color: white;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.img_logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.desc{
    font-size: 19px;
    font-weight: 600;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.list_item{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 19px;
    font-weight: 600;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.email{
    height: 35px;
    padding: 0 5px;
    outline: none;
    border-radius: 10px;
}
.button{
    height: 30px;
}
